# Environment files
.env
.env.*
*.log

# System files
.DS_Store
Thumbs.db

# IDE / Editor configs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json
.phpunit.result.cache
auth.json

# Node / Frontend
/node_modules
/public/hot
/public/build

# Laravel storage
/storage/*
!/storage/app
!/storage/app/public

# Laravel cache
/bootstrap/cache/*.php

# Vendor
/vendor

# Homestead
Homestead.json
Homestead.yaml
